section {
    font-family: Helvetica;
}

p {
    margin : 20px;
    text-transform: uppercase;
}

h1 {
    color: red;
    text-align: center;
    font-size: 2em;
}

h2 {
    padding : 10px;
    background-color: red;
    border-left: 10px solid black;
}